.datepicker-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.datepicker-input input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 14px;
}

.datepicker-input .datepicker-icon {
    margin-left: 8px;
}

/* Transition Styles */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.datepicker-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker-dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 500px;
}

.datepicker-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.calendar {
    flex: 1;
}

.time-selection {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
}

.calendar-day-header,
.calendar-day {
    text-align: center;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.selected {
    background-color: #42b983;
    color: white;
    border-radius: 4px;
}

.year-selection,
.month-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.year-selection div,
.month-selection div {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.year-selection .selected,
.month-selection .selected {
    background-color: #42b983;
    color: white;
}

.time-scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.time-list {
    max-height: 12rem;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.time-list li.selected {
    background-color: #E6F7FF;
    color: black;
    border-radius: 4px;
}

.time-list::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    padding-top: 0px;
}

.time-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

.time-list::-webkit-scrollbar-thumb {
    background: rgba(144, 159, 186, 0.5);
    border-radius: 10px;
}

.time-list::-webkit-scrollbar-thumb:hover {
    background: #00000015;
}

.actions {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    margin-top: 10px;
}